@model ABIS.Models.STAFF

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>STAFF</legend>

        @Html.HiddenFor(model => model.StaffID)

        <div class="editor-label">
            @Html.LabelFor(model => model.LaborCatalogID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LaborCatalogID)
            @Html.ValidationMessageFor(model => model.LaborCatalogID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IndirectInd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IndirectInd)
            @Html.ValidationMessageFor(model => model.IndirectInd)
        </div>

        <p>
            <button type="submit" value="Save" class="btn btn-primary">Save</button>
        </p>
    </fieldset>
}

<button class="btn btn-primary">
    @Html.ActionLink("Back to List", "StaffList", null, new { @style = "text-decoration:none; color:white;" })
</button>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
