@model ABIS.Models.LABOR_CATEGORY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<aside>
    <div class="panel panel-info">
        <div class="panel-heading">
            @Html.DisplayNameFor(model => model.ASDLaborCategoryID)
        </div>
        <div>
            @Html.DisplayFor(model => model.ASDLaborCategoryID)
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            @Html.DisplayNameFor(model => model.LaborCategory)
        </div>
        <div>
            @Html.DisplayFor(model => model.LaborCategory)
        </div>
    </div>
</aside>
<p>
    <button class="btn btn-small btn-primary">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ASDLaborCategoryID }, new { @style = "text-decoration:none; color:white;" })
    </button>
    <button class="btn btn-small btn-primary">
        @Html.ActionLink("Back to List", "CategoryList", null, new { @style = "text-decoration:none; color:white;" })
    </button>
</p>
